.hero_section{
    position: relative;
    overflow: hidden;
    height: 45rem;
    color: rgba(231, 231, 231, 0.925);
}
.hero_section > h1 {
    margin: 3rem 0 0 53rem;
    font-size: 3.4rem;
}
.hero_section > h2 {
    margin: 27rem 0 0 55rem;
    width: 40rem;
}

.book_btn{
    color: rgba(231, 231, 231, 0.925);
    width: 12rem;
    height: 5rem;
    background-color: rgba(100, 148, 237, 0.632);
    border-radius: 5rem;
    font-size: 1.4rem;
    z-index: 1;
    border: 1px solid rgba(100, 148, 237, 0.732) ;
}


/* About Us  */

.about_container > h1{
    font-size: 5rem;
    margin: 9rem 0 0 10rem;
}
.about_container::before {
    content: '';
    position: absolute;
    height: 25rem;
    width: 30rem;
    background: url(../public/gif_1.gif) no-repeat center center/cover;
    margin: 0rem 0 0 60rem;
}
.about{
    display: flex;
    height: 20rem;
}
.about > p {
    display: inline;
    font-size: 1.5rem;
    width: 50rem;
    height: 20rem;
    margin: 4rem 0 0 10rem;
}


/* Use Section  */

.useContainer{
    background-color: greenyellow;
    margin: 6rem 2rem 0 3rem;
}

.topDiv{
    height: 7vh;
    background-color: greenyellow;
    transform: rotateZ(-2.3deg) translateY(-3.3vh);
}
.endDiv{
    height: 9vh;
    background-color: greenyellow;
    transform: rotateZ(2.7deg) translateY(4.5vh);
}