    .container::before{
    content: '';
    position: absolute;
    background:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) ), url(https://s1.cdn.autoevolution.com/images/news/gallery/juggernaut-hd-duo-e-bike-needs-no-intro-the-name-tells-you-all-you-need-to-know_1.jpg) no-repeat center center/cover;
    margin: 0;
    width: 96.99rem;
    height: 50.9rem;
    z-index: -1;
    opacity: 0.85;
}
.container{
    display: flex;
    justify-content: space-between;
    outline: 1px solid whitesmoke;
    height: 3.8rem;
    z-index: 1;
    color: whitesmoke;
}

.logo{
    vertical-align: center;
    margin-top: 0.4rem;
    width: 15rem;
}
.logo > a {
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 8rem 0 0 8rem ;
}
.logo::before {
    content: '';
    position: absolute;
    background: url(../../public/logo.png) no-repeat center center/cover;
    height: 5rem;
    width: 7rem;
    margin: -1rem 0 0 2rem;
}

.nav > ul {
   display: flex;
}
.nav > ul > li {
    list-style: none;
    font-size: 1.5rem;
    padding: 0px 2rem;
    /* font-weight: bold; */
}
.nav > ul > li >a {
    color: black;
    text-decoration: none;
}

.black{
    color: black;
    text-decoration: none;
}

.nav > ul > li:hover {
    opacity: 0.9;
    margin: 2px;
    font-weight: bold;
    color: black !important;
}
.nav > ul:hover > li {
    opacity: 0.9;
    margin: 2px;
    color: rgb(52, 52, 52);
}
.btn > button {
    background: transparent;
    height: 2.56rem;
    width: 8rem;
    font-size: 1.3rem;
    border-radius: 3rem;
    margin: 0.6rem 7rem 0 0 ;
    cursor: pointer;
}
.btn > button > a {
    color: black;
    text-decoration: none;
}